<div class="container-fluid">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="row profile-info clearfix">
      <h3>Your details</h3>
      <div class ="col-xs-3" id="profile-avatar">
        <% avatar_url = current_user.facebook_picture_url || "https://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: 'avatar-large' %>
      </div>
      <div class="col-xs-9">
        <p><strong>Name:</strong> <%= @user.first_name %> <%= @user.last_name%></p>
        <p><strong>E-mail:</strong> <%= @user.email %></p>
      </div>
    </div>

    <div class="row profile-box">
      <h3>Your appointments<i class="fa fa-chevron-down" style="margin-left: 10px;"></i></h3>
      <p id="appointment-number"><strong>You have <%= pluralize @user.appointments.size, "appointment" %>:</strong></p>
      <% @buyer_appointments.each do |appointment| %>
      <div class="appointments">
        <div class="appointment-details">
          <p><i class="fa fa-car"></i><strong> <%= appointment.car.model.brand.brand_name %> <%= appointment.car.model.name %></strong></p>
          <ul>
            <li><strong>When:</strong> <%= appointment.appointment_date %>, <%= appointment.appointment_time.time.hour %>:00  </li>
            <li><strong>Owner email: </strong><%= mail_to appointment.car.user.email %></li>
            <li><strong>Owner phone: </strong><%= link_to appointment.car.user.phone_number, "tel:#{appointment.car.user.phone_number}" %></li>
          </ul>
        </div>
        <div class="appointment-delete">
          <%= link_to user_appointment_path(user_id: current_user.id, id: appointment.id,return_to: user_path(current_user)), method: :delete, data: { } do %>
          <i class="fa fa-trash-o"></i>  <%= t(".delete_appointment", default: "") %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>

    <div class="row profile-cars">
      <h3>Your cars<i class="fa fa-chevron-down" style="margin-left: 10px;"></i></h3>
      <% current_user.cars.each do |car| %>
      <div class="profile-cars-row col-xs-12 col-sm-4">
        <div class="profile-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), <% if car.photos? %> url('<%= cl_image_path car.photos[0].path, height: 800, width: 600, crop: :fit %>' <% end %>);">
          <div class="card-category"><%= car.price %> EUR</div>
          <div class="card-description">
            <h2><%= car.model.brand.brand_name %></h2>
            <p><%= car.model.name %></p>
          </div>
          <div class="profile-buttons">
            <%= link_to edit_car_path(car) do %>
            <i class="fa fa-pencil"></i>  <%= t(".new_car", default: "") %>
            <% end %>
            <%= link_to car_path(car), method: :delete, data: { confirm: "Are you sure to delete?" } do %>
            <i class="fa fa-trash-o"></i>  <%= t(".delete_car", default: "") %>
            <% end %>
          </div>
          <%= link_to "", car_path(car.id), {class: "card-link"} %>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>






