<p id="notice"><%= notice %></p>

<p>
  <strong>Belongs to:</strong>
  <%= @rental.belongs_to %>
</p>

<p>
  <strong>Belongs to:</strong>
  <%= @rental.belongs_to %>
</p>

<%= link_to 'Edit', edit_rental_path(@rental) %> |
<%= link_to 'Back', rentals_path %>
