
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.carvana.com/content/images/homepage-only/hp-banner.jpg?v=092d45fcf64e0771b69c');">
  <div class="banner-content">
   <h2 class="hp-carrie-slogan">
    <span> The <strong>BETTER</strong> way to buy a car </span>
  </h2>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 ">
      <form action="" class="navbar-wagon-search">
        <input type="text" class="navbar-wagon-search-input" placeholder="Find your next car">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 ">
      <a class="btn btn-primary btn-lg">Find my next car</a>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <p style="color:black;"> " Type brand" </p>
        <div class="row">
          <div class="col-xs-6">
            <%= image_tag "sedan.jpeg" %>
          </div>
          <div class="col-xs-6">
            <%= image_tag "SUV.jpeg" %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <%= image_tag "pickup.jpeg" %>
          </div>
          <div class="col-xs-6">
            <%= image_tag "minivan.jpeg" %>
          </div>
        </div>

        </div>

      <div class="col-xs-6">
        <p style="color:black;"> " Price Range" </p>
        <div class="row">
          <div class="col-xs-6">
            <%= image_tag "price_tag.jpeg" %>
          </div>
          <div class="col-xs-6">
            <%= image_tag "price_tag.jpeg" %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <%= image_tag "price_tag.jpeg" %>
          </div>
          <div class="col-xs-6">
            <%= image_tag "price_tag.jpeg" %>
          </div>
        </div>

        </div>
      </div>

    </div>

