<div class="wrapper without-pic" style="min-height: 45vh">
  <div class="row">
    <div class="home-pic-a col-xs-12 col-sm-6 text-center" >
      <%= image_tag('mobile-icon.png') %>
    </div>
    <div class="home-content-a col-xs-12 col-sm-6">
      <h3>Best buying experience on both mobile and desktop</h3>
      <p>Our mission is to <strong>take out all the hassle from the car buying and selling process</strong>. Our application supports you in this journey, so that you could focus only on making the decisions. Karrie comes on both desktop and mobile, so <strong>you can use us wherever you are</strong>, however it is the most convenient for you.</p>
    </div>
  </div>
</div>

<div class="wrapper with-pic" style="background-image: linear-gradient(-200deg, rgba(102, 102, 204, 0.51) 0%, rgba(0, 0, 0, 0.2) 141%), url('/home-1.jpeg'); background-size: cover; min-height: 45vh;">
  <div class="row">
    <div class="home-content-b col-xs-12 col-sm-6">
      <h3>Uploading cars in 2 clicks to save time</h3>
      <p>Tired of filling out dozens of forms whenever you are trying to sell a new car? With Karrie, <strong>you just have to enter your VIN</strong> (vehicle identification number) that is found in all cars around the world. Based on the VIN, <strong>we pre-fill all the important details of your car</strong>, so you only have to confirm the price.</p>
    </div>
    <div class="home-pic-b col-xs-12 col-sm-6 text-center">
      <%= image_tag('fast-icon.png') %>
    </div>
  </div>
</div>

<div class="wrapper without-pic" style="min-height: 45vh">
  <div class="row">
    <div class="home-pic-a col-xs-12 col-sm-6 text-center">
      <%= image_tag('agree-icon.png') %>
    </div>
    <div class="home-content-a col-xs-12 col-sm-6">
      <h3>Price recommendation to optimize sales time and amount</h3>
      <p>We know that it is difficult to find the right price when you sell a car - not to leave money on the table and in the same time close a deal within a reasonable timeframe. <strong>Our price recommendation engine provides you a best estimation based on thousands of past deals</strong>. Just enter your VIN and edit or accept our recommendation.</p>
    </div>
  </div>
</div>

<div class="wrapper with-pic" style="background-image: linear-gradient(-200deg, rgba(102, 102, 204, 0.51) 0%, rgba(0, 0, 0, 0.2) 141%), url('/home-2.jpg'); background-size: cover; min-height: 45vh;">
  <div class="row">
    <div class="home-content-b col-xs-12 col-sm-6">
      <h3>Free to use</h3>
      <p>The best thing in Karrie is that it is <strong>free to use for both buyers and sellers</strong>! If you are a seller and would like to use our premium services (i.e., highlighting your cars), contact us for more details.</p>
    </div>
    <div class="home-pic-b col-xs-12 col-sm-6 text-center">
      <%= image_tag('free.png') %>
    </div>
  </div>
</div>

<div class="wrapper with-pic" style="background-image: linear-gradient(-200deg, rgba(102, 102, 204, 0.51) 0%, rgba(0, 0, 0, 0.2) 141%), url('/contact.jpeg'); background-size: cover; min-height: 45vh;">
  <div class="row">
    <div class="contact-content col-xs-12 text-center">
      <h3>Contact us</h3>
      <p>Karrie is a brand new service. If you have any feedback or inquiry, feel free to contact us on our email.</p>
      <h5><%= mail_to 'contact@karrie.trade' %></h5>
    </div>
    <div class="home-pic-b col-xs-12 text-center">
      <%= image_tag('email.png') %>
    </div>
  </div>
</div>
