<div class="col-xs-12" id="filter-button2">
  <h3 class="title-container-text">  Bodystyle <i class="fa fa-chevron-down" style="margin-left: 10px;"></i></h3>
</div>

<div class="col-xs-12" style="padding: 10px; background-color: #f7f7f7;">
<div class="row" style="display: none; border-bottom: 1px solid #ccc" id="filter-form2">

  <div class="col-xs-6 col-sm-3 text-center">
    <div style="background-image: url('<%= asset_path "car-choose.gif" %>'); height: 40px; width: 120px; background-position: 50% -41px; margin: auto;">
        <input type="checkbox" class="check_item" name="styles[]" id="Sedan" value="Sedan" <%= "checked" if @styles.include? "Sedan" %>>
        <label class="clabel_item" for="Sedan"><img class="filter-placehold" alt=""><span class="checkspan"><i class="fa fa-check" aria-hidden="true"></i>
        </span></label>
    </div>
    <h3 class="home-body"> SEDAN </h3>
  </div>

  <div class="col-xs-6 col-sm-3 text-center">
    <div style="background-image: url('<%= asset_path "car-choose.gif" %>'); height: 40px; width: 120px; background-position: 50% -81px; margin: auto;">
        <input type="checkbox" class="check_item" name="styles[]" id="SUV" value="SUV" <%= "checked" if @styles.include? "SUV" %>>
        <label class="clabel_item" for="SUV"><img class="filter-placehold" alt=""><span class="checkspan"><i class="fa fa-check" aria-hidden="true"></i>
        </span></label>
    </div>
    <h3 class="home-body"> SUV </h3>
  </div>

  <div class="col-xs-6 col-sm-3 text-center">
    <div style="background-image: url('<%= asset_path "car-choose.gif" %>'); height: 40px; width: 120px; background-position: 50% -241px; margin: auto;">
        <input type="checkbox" class="check_item" name="styles[]" id="Pickup" value="Pickup" <%= "checked" if @styles.include? "Pickup" %>>
        <label class="clabel_item" for="Pickup"><img class="filter-placehold" alt=""><span class="checkspan"><i class="fa fa-check" aria-hidden="true"></i>
        </span></label>
    </div>
    <h3 class="home-body"> PICKUP </h3>
  </div>

  <div class="col-xs-6 col-sm-3 text-center">
    <div style="background-image: url('<%= asset_path "car-choose.gif" %>'); height: 40px; width: 120px; background-position: 50% -121px; margin: auto;">
        <input type="checkbox" class="check_item" name="styles[]" id="Minivan" value="Minivan" <%= "checked" if @styles.include? "Minivan" %>>
        <label class="clabel_item" for="Minivan"><img class="filter-placehold" alt=""><span class="checkspan"><i class="fa fa-check" aria-hidden="true"></i>
        </span></label>
    </div>
    <h3 class="home-body"> MINIVAN </h3>
  </div>

  <div class="col-xs-6 col-sm-3 text-center">
    <div style="background-image: url('<%= asset_path "car-choose.gif" %>'); height: 40px; width: 120px; background-position: 50% -201px; margin: auto;">
        <input type="checkbox" class="check_item" name="styles[]" id="Hatchback" value="Hatchback" <%= "checked" if @styles.include? "Hatchback" %>>
        <label class="clabel_item" for="Hatchback"><img class="filter-placehold" alt=""><span class="checkspan"><i class="fa fa-check" aria-hidden="true"></i>
        </span></label>
    </div>
    <h3 class="home-body"> HATCHBACK </h3>
  </div>

  <div class="col-xs-6 col-sm-3 text-center">
    <div style="background-image: url('<%= asset_path "car-choose.gif" %>'); height: 40px; width: 120px; background-position: 50% -281px; margin: auto;">
        <input type="checkbox" class="check_item" name="styles[]" id="Convertible" value="Convertible" <%= "checked" if @styles.include? "Convertible" %>>
        <label class="clabel_item" for="Convertible"><img class="filter-placehold" alt=""><span class="checkspan"><i class="fa fa-check" aria-hidden="true"></i>
        </span></label>
    </div>
    <h3 class="home-body"> CONVERTIBLE </h3>
  </div>
  <div class="col-xs-6 col-sm-3 text-center">
    <div style="background-image: url('<%= asset_path "car-choose.gif" %>'); height: 40px; width: 120px; background-position: 50% -161px; margin: auto;">
        <input type="checkbox" class="check_item" name="styles[]" id="Coupe" value="Coupe" <%= "checked" if @styles.include? "Coupe" %>>
        <label class="clabel_item" for="Coupe"><img class="filter-placehold" alt=""><span class="checkspan"><i class="fa fa-check" aria-hidden="true"></i>
        </span></label>
    </div>
    <h3 class="home-body"> COUPE </h3>
  </div>

  <div class="col-xs-6 col-sm-3 text-center">
    <div style="background-image: url('<%= asset_path "car-choose.gif" %>'); height: 40px; width: 120px; background-position: 50% 0px; margin: auto; ">
        <input type="checkbox" class="check_item" name="styles[]" id="Wagon" value="Wagon" <%= "checked" if @styles.include? "Wagon" %>>
        <label class="clabel_item" for="Wagon"><img class="filter-placehold" alt=""><span class="checkspan"><i class="fa fa-check" aria-hidden="true"></i>
        </span></label>
    </div>
    <h3 class="home-body"> WAGON </h3>
  </div>
</div>
</div>
