


      <div class="section" style="margin-top: 50px; width:100%;">
        <div class="col-xs-12 main-title"><strong>VIN DATA FOR</strong><%= @car.vin %></div>
        <div class="col-xs-12 main-details">
          <% @car.attributes.each_pair do |name, value| %>
            <% unless value.nil? || name == "id" || name == "user_id" || name == "model_id" ||
            name == "created_at" || name == "updated_at" || name == "vin" %>
              <div class="col-xs-4 main-details">
                <strong><%= name %>: </strong><%= value %>
              </div>
            <% end %>
            <% end %>
        </div>
      </div>



      <%= simple_form_for @car do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">

        <%= f.input :color_ext, label: "Exterior Color", value: @car.color_ext %>
        <%= f.input :price, placeholder: "Add price in EUR" %>
        <%= f.input :odometer, placeholder: "Add the current km status" %>
        <%= f.input :fuel_type, collection: ["Gasoline", "Diesel", "Electric"] %>
        <%= f.input :description, placeholder: "Is there any additional important information about the car?" %>
        <%= f.input :photos, as: :attachinary %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
      <% end %>

