<div class="wrapper" style="overflow:auto; background-color: white;">
  <div class="container" style="background-color: transparent; margin: 0px; display: block; width: 100%">

  <p id="notice" style="margin: 0px;"><%= notice %></p>


    <div class="row">
      <div class="col-xs-12 col-sm-3" style="background-color: white; margin-top: 0; padding: 30px 20px 10px 10px;">


        <h2>Filters</h2>
        <%= render 'filter_form' %>
      </div>

      <div class="col-xs-12 col-sm-9" style="padding: 0px;">
        <div class="col-xs-12" style="background-color: whitesmoke;">
        </div>
        <h4>Result: <%= pluralize @cars.size, "car" %></h4>
        <div class="col-xs-12" style="background-color: whitesmoke; overflow: scroll; height: 88vh; display: flex; justify-content: space-around; flex-wrap: wrap; padding: 15px;">
          <% @cars.each do |car| %>
            <div class="card" style="width: 250px; height: 150px; border-radius: 4px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), <% if car.photos? %> url('<%= cl_image_path car.photos[0].path, height: 800, width: 600, crop: :fit %>' <% end %>);">
              <div class="card-category"><%= car.price %> EUR</div>
              <div class="card-description">
                <h2><%= car.model.brand.brand_name %></h2>
                <p><%= car.model.name %></p>
              </div>
              <%= link_to "", car_path(car.id), {class: "card-link"} %>
            </div>
          <% end %>
        </div>

      </div>

    </div>
  </div>
</div>










