<h3>cars</h3>

<% @cars.each do |car| %>
  <div class="car">
    <%= car.name %>
    <%= link_to "Show all bookings", car_bookings_path(car) %>
    <%= link_to "Delete", car_path(car), data: { confirm: 'Are you sure?' }, method: :delete %>
    <%= link_to "Edit", edit_car_path(car) %>
    <%= link_to "Add booking", new_car_booking_path(car) %>
  </div>
<% end %>
