<div class="wrapper">
  <div class="container" style="background-color: transparent; display width: 100%">

    <p id="notice" style="margin: 0px;"><%= notice %></p>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="background-color: white; margin-top: 0; padding: 0px 20px 10px 10px;">
        <div id="filter-button" class="btn btn-primary filter-btn">Filter</div>
        <% @collections = policy_scope(SearchDatum).standard_data %>
        <div id="filter-form" style="display: none;">
          <%= render 'filter_form', @collections %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12" style="padding: 0px;">

        <div class="col-xs-12" id='js_results' style="background-color: whitesmoke; padding: 15px">
          <h4>Result: <%= pluralize @cars.size, "car" %></h4>
          <% @cars.each do |car| %>

          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), <% if car.photos? %> url('<%= cl_image_path car.photos[0].path, height: 800, width: 600, crop: :fit %>' <% end %>);">
              <div class="card-category"><%= car.price %> EUR</div>
              <div class="card-description">
                <h2><%= car.model.brand.brand_name %></h2>
                <p><%= car.model.name %></p>
              </div>
              <%= link_to "", car_path(car.id), {class: "card-link"} %>
            </div>
          </div>

          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>










