
  <div class="container-fluid" >
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators" >
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" >

    <div class="item active">
      <img src="<%= asset_path 'car-fake.jpg' %>" >
    </div>

    <div class="item" >
      <img src="<%= asset_path 'car-fake.jpg' %>" >
    </div>

    <div class="item" >
      <img src="<%= asset_path 'car-fake.jpg' %>">
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
<div class="container">
  <div class="show-main">
    <div class="section" style="margin-top: 50px;">
      <div class="col-xs-3 main-title">Section</div>
      <div class="col-xs-9 main-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus totam perspiciatis autem expedita, maxime eaque obcaecati natus error earum quia fugit vero, cupiditate consequatur ab non omnis dolor quidem esse.</div>
    </div>
    <div class="section" style="margin-top: 50px;">
      <div class="col-xs-3 main-title">Section</div>
      <div class="col-xs-9 main-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus totam perspiciatis autem expedita, maxime eaque obcaecati natus error earum quia fugit vero, cupiditate consequatur ab non omnis dolor quidem esse.</div>
    </div>
    <div class="section" style="margin-top: 50px;">
      <div class="col-xs-3 main-title">Section</div>
      <div class="col-xs-9 main-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus totam perspiciatis autem expedita, maxime eaque obcaecati natus error earum quia fugit vero, cupiditate consequatur ab non omnis dolor quidem esse.</div>
    </div>  </div>



  <div class="sidebar" style="height: 100vh;">
    <div class="price">
      <span class="currency">$</span>
      <span class="amount">30</span>
      <div class="per">per day</div>
    </div>
    <p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
  </div>

</div>



























