  <div class="container-fluid" >
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators" >
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox" >

        <div class="item active">
          <% if @car.photos.any? %>
          <%= cl_image_tag @car.photos[0].path, crop: :fill %>
        </div>

        <% @car.photos[1..-1].each do |photo| %>
        <div class="item" >
          <%= cl_image_tag photo.path, crop: :fill %>
        </div>
        <% end %>
        <% end %>

      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="price-mobile-vehicleListingSummary-vehiclePriceWrapper hidden-md hidden-lg">
      <div class="price">
        <div><span class="currency">$</span></div>
        <div><span class="amount"><%= @car.price %></span></div>
      </div>
    </div>
  </div>
  <!-- mobile content -->




  <div class="container hidden-md hidden-lg">
    <div class="row">
      <div class="cards clearfix" >
        <h3>The car</h3>
        <ul class="list-icons-showpage">
          <li>
            <%= image_tag("car-brand.png", class: :"icon-list")%>
            <%= @car.model.brand.brand_name %> - <%= @car.model.name  %>
          </li>

          <li>
            <%= image_tag("car-year.png", class: :"icon-list")%>
            <%= @car.year %>
          </li>

          <li>
            <%= image_tag("odometer.png", class: :"icon-list")%>
            <%= @car.odometer%>km
          </li>

          <li>
            <%= image_tag("fuel-type.png", class: :"icon-list")%>
            <%= @car.fuel_type %>
          </li>

          <li>
            <%= image_tag("car-transmission.png", class: :"icon-list")%>
            <%= @car.trans_type %>
          </li>
        </ul>

      </div>
    </div>

    <div class="row">
      <div class="cards clearfix" style="background-color: white">
        <h3><%="  Description"%></h3>
        <p><%= @car.description %></p>

      </div>
    </div>

    <div class="row">
      <div class="cards clearfix">
        <h3><%="Features"%></h3>
        <ul class="list-icons-showpage">
          <li>
            <%= image_tag("car-style.png", class: :"icon-list")%>
            <%= @car.style %>
          </li>
          <li>
            <%= image_tag("size.png", class: :"icon-list")%>
            <%= @car.size  %>
          </li>

          <li>
            <%= image_tag("car-door.png", class: :"icon-list")%>
            <%= "#{@car.doors} doors" %>
          </li>

          <li>
            <%= image_tag("car-drive.png", class: :"icon-list")%>
            <%= @car.drive %>
          </li>

          <li>
            <%= image_tag("car-speeds.png", class: :"icon-list")%>
            <%= "#{@car.trans_speeds} speeds" %>
          </li>

          <li>
            <%= image_tag("car-colorext.png", class: :"icon-list")%>
            <%= "#{@car.color_ext}" %>
          </li>
        </ul>

      </div>
    </div>



    <div class="row">
      <div class="cards clearfix" style="background-color: white">
        <h3>Make an appointment</h3>
        <div class="sidebar-mobile">
          <%= render 'appointment_form', car: @car, appointment: @appointment %>
          <p id="notice"><%= notice %></p>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="cards clearfix">
        <div>
          <h3>Contact seller</h3>
          <div>
            <p>Tel: <%= link_to @car.user.phone_number, "tel:#{@car.user.phone_number}" %></p>
          </div>
          <div>
            <p>Email: <%= mail_to @car.user.email %></p>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sms-form">
            Send SMS
          </button>
        </div>
      </div>
    </div>


  </div>

  <div class="container hidden-xs hidden-sm">
    <div class="col-md-9 col-xs-12 ">
      <div class="row">
        <div class="col-xs-3 main-title">The car</div>

        <div class="col-xs-9 main-details">
          <div class="row">
            <div class="col-xs-4 list-details"> <%= @car.model.brand.brand_name %></div>
            <div class="col-xs-4 list-details"> <%= @car.model.name %></div>
            <div class="col-xs-4 list-details"> <%= @car.year %></div>
          </div> <br>
          <div class="row">
            <div class="col-xs-4 list-details"> <%= @car.odometer %></div>
            <div class="col-xs-4 list-details"> <%= @car.fuel_type %></div>
            <div class="col-xs-4 list-details"> <%= @car.trans_type %></div>
          </div> <br>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3 main-title">Description</div>
        <div class="col-xs-9 main-details"><%= @car.description %></div>
      </div><br>
      <div class="row">
        <div class="col-xs-3 main-title">Features</div>
        <div class="col-xs-9 main-details">
          <div class="row">
            <div class="col-xs-4 list-details"> <%= @car.style %></div>
            <div class="col-xs-4 list-details"> <%= @car.size %></div>
            <div class="col-xs-4 list-details"> doors:<%= @car.doors%></div>
          </div><br>
          <div class="row">
            <div class="col-xs-4 list-details"> <%= @car.drive %></div>
            <div class="col-xs-4 list-details"> <%= @car.trans_speeds %></div>
            <div class="col-xs-4 list-details"> <%= @car.color_ext%></div>
          </div> <br><br>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>
    <%= render 'sms-modal' %>




    <div class="col-md-3 hidden-xs hidden-sm">
      <div class="row">
        <div class="sidebar">
          <div class="price">
            <span class="currency">$</span>
            <span class="amount"> <%= @car.price %> </span>
          </div>
          <%= render 'appointment_form', car: @car, appointment: @appointment %>
          <p id="notice"><%= notice %></p>

          <div>
            <h3>Contact seller</h3>
            <div>
              <p>Tel: <%= link_to @car.user.phone_number, "tel:#{@car.user.phone_number}" %></p>
            </div>
            <div>
              <p>Email: <%= mail_to @car.user.email %></p>
            </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sms-form">
              Send SMS
            </button>
          </div>
        </div>
      </div>


    </div>



  </div>
  <% content_for :after_js do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(document).on('focus', '[data-behaviour~="datepicker"]', function(e){
        $(this).datepicker({
          daysOfWeekHighlighted: "0,6",
          autoclose: true,
          toggleActive: true,
          format: "yyyy-mm-dd",
          todayHighlight: true,
          startDate: new Date()
        });
      });
    });
  </script>
  <% end %>



