
<!-- mobile content -->

<div class="container-fluid hidden-md hidden-lg" >
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <% if @car.photos.any? %>
      <ol class="carousel-indicators" >
        <% @car.photos.each_with_index do |photo,i| %>
          <% if i==0 %>
            <li data-target="#carousel-example-generic" data-slide-to="<%= "#{i.to_i}" %>" class="active"></li>
          <% else %>
            <li data-target="#carousel-example-generic" data-slide-to="<%= "#{i.to_i}" %>"></li>
          <% end %>
        <% end %>
      </ol>
    <% end %>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" >
      <% if @car.photos.any? %>
        <div class="item active">
          <%= cl_image_tag @car.photos[0].path, crop: :fill %>
        </div>

        <% @car.photos[1..-1].each do |photo| %>
          <div class="item" >
            <%= cl_image_tag photo.path, crop: :fill %>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div><!-- end of carousel -->

  <div class="price-mobile-vehicleListingSummary-vehiclePriceWrapper hidden-md hidden-lg">
    <div class="price">
      <div><span class="currency">€</span></div>
      <div><span class="amount"><%= @car.price %></span></div>
    </div>
  </div>
</div><!-- end of container for mobile -->


<div class="container hidden-md hidden-lg">
  <div class="row">
    <div class="cards clearfix" >
      <h3>The car</h3>
      <ul class="list-icons-showpage">
        <li>
          <%= image_tag("car-brand.png", class: :"icon-list")%>
          <%= @car.model.brand.brand_name %> - <%= @car.model.name  %>
        </li>

        <li>
          <%= image_tag("car-year.png", class: :"icon-list")%>
          <%= @car.year %>
        </li>

        <li>
          <%= image_tag("odometer.png", class: :"icon-list")%>
          <%= @car.odometer%>km
        </li>

        <li>
          <%= image_tag("fuel-type.png", class: :"icon-list")%>
          <%= @car.fuel_type %>
        </li>

        <li>
          <%= image_tag("car-transmission.png", class: :"icon-list")%>
          <%= @car.trans_type %>
        </li>
      </ul>

    </div>
  </div>

  <div class="row">
    <div class="cards clearfix" style="background-color: white">
      <h3><%="  Description"%></h3>
      <p><%= @car.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="cards clearfix">
      <h3><%="Features"%></h3>
      <ul class="list-icons-showpage">
        <li>
          <%= image_tag("car-style.png", class: :"icon-list")%>
          <%= @car.style %>
        </li>
        <li>
          <%= image_tag("size.png", class: :"icon-list")%>
          <%= @car.size  %>
        </li>
        <li>
          <%= image_tag("car-door.png", class: :"icon-list")%>
          <%= "#{@car.doors} doors" %>
        </li>
        <li>
          <%= image_tag("car-drive.png", class: :"icon-list")%>
          <%= @car.drive %>
        </li>
        <li>
          <%= image_tag("car-speeds.png", class: :"icon-list")%>
          <%= "#{@car.trans_speeds} speeds" %>
        </li>
        <li>
          <%= image_tag("car-colorext.png", class: :"icon-list")%>
          <%= "#{@car.color_ext}" %>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="cards clearfix" style="background-color: white">
      <h3>Make an appointment</h3>
      <div class="sidebar-mobile">
        <%= render 'appointment_form', car: @car, appointment: @appointment %>
        <p id="notice"><%= notice %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="cards clearfix">
      <div>
        <h3>Contact seller</h3>
        <div>
          <p>Tel: <%= link_to @car.user.phone_number, "tel:#{@car.user.phone_number}" %></p>
        </div>
        <div>
          <p>Email: <%= mail_to @car.user.email %></p>
        </div>
        <%= render 'sms-modal' %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sms-form">
          Send SMS
        </button>
      </div>
    </div>
  </div>

</div><!-- end of container for mobile -->

<!-- Desktop design -->

<div class="container-fluid hidden-xs hidden-sm" style="background-color: white; width: 100vw" >

  <div id="carousel-desktop" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <% if @car.photos.any? %>
      <ol class="carousel-indicators" >
        <% @car.photos.each_with_index do |photo,i| %>
          <% if i==0 %>
            <li data-target="#carousel-desktop" data-slide-to="<%= "#{i.to_i}" %>" class="active"></li>
          <% else %>
            <li data-target="#carousel-desktop" data-slide-to="<%= "#{i.to_i}" %>"></li>
          <% end %>
        <% end %>
      </ol>
    <% end %>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox" >
      <% if @car.photos.any? %>
        <div class="item active">
          <%= cl_image_tag @car.photos[0].path, crop: :fill %>
        </div>

        <% @car.photos[1..-1].each do |photo| %>
          <div class="item" style="height:80vh">
            <%= cl_image_tag photo.path, crop: :fill %>
          </div>
        <% end %>
      <% end %>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-desktop" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-desktop" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- end of carousel desktop -->

<!--   <div class="price-mobile-vehicleListingSummary-vehiclePriceWrapper hidden-md hidden-lg">
    <div class="price">
      <div><span class="currency">€</span></div>
      <div><span class="amount"><%= @car.price %></span></div>
    </div>
  </div> -->
</div>

<div class="container hidden-xs hidden-sm" style="background-color: #FFF">
  <div class="row">
    <div class="col-md-9">

      <div class="row">
        <div class="cards clearfix" style="background-color: white" >
          <h3>The car</h3>
          <ul class="list-icons-showpage">
            <li>
              <%= image_tag("car-brand.png", class: :"icon-list")%>
              <%= @car.model.brand.brand_name %> - <%= @car.model.name  %>
            </li>

            <li>
              <%= image_tag("car-year.png", class: :"icon-list")%>
              <%= @car.year %>
            </li>

            <li>
              <%= image_tag("odometer.png", class: :"icon-list")%>
              <%= @car.odometer%>km
            </li>

            <li>
              <%= image_tag("fuel-type.png", class: :"icon-list")%>
              <%= @car.fuel_type %>
            </li>

            <li>
              <%= image_tag("car-transmission.png", class: :"icon-list")%>
              <%= @car.trans_type %>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="cards clearfix" style="background-color: white">
          <h3><%="  Description"%></h3>
          <p><%= @car.description %></p>

        </div>
      </div>

      <div class="row">
        <div class="cards clearfix" style="background-color: white">
          <h3><%="Features"%></h3>
          <ul class="list-icons-showpage">

            <li>
              <%= image_tag("car-style.png", class: :"icon-list")%>
              <%= @car.style %>
            </li>
            <li>
              <%= image_tag("size.png", class: :"icon-list")%>
              <%= @car.size  %>
            </li>

            <li>
              <%= image_tag("car-door.png", class: :"icon-list")%>
              <%= "#{@car.doors} doors" %>
            </li>

            <li>
              <%= image_tag("car-drive.png", class: :"icon-list")%>
              <%= @car.drive %>
            </li>

            <li>
              <%= image_tag("car-speeds.png", class: :"icon-list")%>
              <%= "#{@car.trans_speeds} speeds" %>
            </li>

            <li>
              <%= image_tag("car-colorext.png", class: :"icon-list")%>
              <%= "#{@car.color_ext}" %>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-3 hidden-xs hidden-sm">

      <div class="sidebar">
        <div class="price">
          <span class="currency">€</span>
          <span class="amount"> <%= @car.price %> </span>
        </div>
        <h3>Make an appointment</h3>
        <%= render 'appointment_form', car: @car, appointment: @appointment %>
        <p id="notice"><%= notice %></p>

        <div>
          <h3>Contact seller</h3>
          <div>
            <p>Tel: <%= link_to @car.user.phone_number, "tel:#{@car.user.phone_number}" %></p>
          </div>
          <div>
            <p>Email: <%= mail_to @car.user.email %></p>
          </div>
          <%= render 'sms-modal' %>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sms-form">
            Send SMS
          </button>
        </div>
      </div>

    </div>

  </div>
</div>

<% title "Karrie - #{@car.brand.brand_name} #{@car.model.name}" %>

<% content_for :after_js do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(document).on('focus', '[data-behaviour~="datepicker"]', function(e){
        $(this).datepicker({
          daysOfWeekHighlighted: "0,6",
          autoclose: true,
          toggleActive: true,
          format: "yyyy-mm-dd",
          todayHighlight: true,
          startDate: new Date()
        });
      });
    });
  </script>
<% end %>




