  <div class="container-fluid" >
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators" >
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" >

    <div class="item active">
        <%= cl_image_tag @car.photos[0].path, crop: :fill %>
    </div>

  <% @car.photos[1..-1].each do |photo| %>
    <div class="item" >
      <%= cl_image_tag photo.path, crop: :fill %>
    </div>
  <% end %>

  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
<div class="container">
  <div class="show-main"></div>


  <div class="sidebar">
    <div class="price">
      <span class="currency">$</span>
      <span class="amount">30</span>
      <div class="per">per day</div>
    </div>
    <%= render 'appointment_form', car: @car, appointment: @appointment %>
    <p id="notice"><%= notice %></p>


<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
  </div>
  <div class="show-main">
    <div class="section" style="margin-top: 50px;">
      <div class="col-xs-3 main-title">Section</div>
      <div class="col-xs-9 main-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus totam perspiciatis autem expedita, maxime eaque obcaecati natus error earum quia fugit vero, cupiditate consequatur ab non omnis dolor quidem esse.</div>
    </div>
    <div class="section" style="margin-top: 50px;">
      <div class="col-xs-3 main-title">Section</div>
      <div class="col-xs-9 main-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus totam perspiciatis autem expedita, maxime eaque obcaecati natus error earum quia fugit vero, cupiditate consequatur ab non omnis dolor quidem esse.</div>
    </div>
    <div class="section" style="margin-top: 50px;">
      <div class="col-xs-3 main-title">Section</div>
      <div class="col-xs-9 main-details">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus totam perspiciatis autem expedita, maxime eaque obcaecati natus error earum quia fugit vero, cupiditate consequatur ab non omnis dolor quidem esse.</div>
    </div>
     <div style="clear:both;"></div>
  </div>


</div>

<% content_for :after_js do %>
<script type="text/javascript">
$(document).ready(function(){
  $(document).on('focus', '[data-behaviour~="datepicker"]', function(e){
    $(this).datepicker({
    daysOfWeekHighlighted: "0,6",
    autoclose: true,
    toggleActive: true,
    format: "yyyy-mm-dd",
    todayHighlight: true,
    startDate: new Date()
    });
  });
});
</script>

<% end %>
















